In [2]:
import kagglehub
import pandas as pd
import os

# 1. Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
path = kagglehub.dataset_download("toshini/netflix-ratings-2021")
print(f"Îã§Ïö¥Î°úÎìú Í≤ΩÎ°ú: {path}")

# 2. Î™®Îì† ÌïòÏúÑ Ìè¥ÎçîÎ•º Îí§Ï†∏ÏÑú CSV ÌååÏùº Ï∞æÍ∏∞ (Ïû¨Í∑Ä ÌÉêÏÉâ)
csv_path = None
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith('.csv'):
            csv_path = os.path.join(root, file)
            break
    if csv_path: # Ï∞æÏïòÏúºÎ©¥ Ï§ëÎã®
        break

if csv_path:
    print(f"üìÑ Ï∞æÏùÄ ÌååÏùº: {csv_path}")
    df = pd.read_csv(csv_path,encoding='cp949')
    display(df.head())
else:
    print("‚ùå CSV ÌååÏùºÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§.")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Îã§Ïö¥Î°úÎìú Í≤ΩÎ°ú: /Users/parkhyunsik/.cache/kagglehub/datasets/toshini/netflix-ratings-2021/versions/1
üìÑ Ï∞æÏùÄ ÌååÏùº: /Users/parkhyunsik/.cache/kagglehub/datasets/toshini/netflix-ratings-2021/versions/1/netflix_ratings2021.csv

,type,title,director,cast,country,date_added,release_year,duration,ratings_imdb,rating_rt
0,TV Show,Bling Empire,Jeff Jenkins,"Kevin Kreider,Ïüáelly Mi Li,Ïüáane Lim,Ïû∫herie Chan...",NaN,"January 15, 2021",2021,1 Season,5.7,3.4
1,TV Show,Carmen Sandiego,"Kettler,Ïû∏nne Loi","Gina Rodriguez, Finn Wolfhard, Abby Trott, Mic...",United States,"January 15, 2021",2021,4 Seasons,7.9,4.6
2,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...","Canada, United States, Cayman Islands","January 8, 2021",2021,85 min,5.6,2.5
3,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,NaN,"January 12, 2021",2021,98 min,7.3,3.5
4,TV Show,Cobra Kai,NaN,"Ralph Macchio, William Zabka, Xolo MaridueÏ±∞a, ...",United States,"January 1, 2021",2021,3 Seasons,8.6,4.7

In [14]:
print(df.groupby('type').count())

         title  director  cast  country  date_added  release_year  duration  \
type
Movie       12         9     9        6          12            12        12
TV Show     19         4    16       16          19            19        19

         ratings_imdb  rating_rt
type
Movie              11         12
TV Show            18         19

In [15]:
print(df.groupby('type',as_index=False).count())

      type  title  director  cast  country  date_added  release_year  \
0    Movie     12         9     9        6          12            12
1  TV Show     19         4    16       16          19            19

   duration  ratings_imdb  rating_rt
0        12            11         12
1        19            18         19

In [17]:
print(df.groupby('country',dropna=False).count())

                                       type  title  director  cast  \
country
Canada, United States, Cayman Islands     1      1         1     1
India                                     1      1         0     1
Mexico                                    1      1         0     1
Mexico, United States                     1      1         0     1
South Korea                               1      1         1     1
Spain                                     1      1         1     1
Turkey                                    1      1         0     1
United Kingdom                            1      1         0     1
United Kingdom, Canada, United States     1      1         0     1
United States                            13     13         3     9
NaN                                       9      9         7     7

                                       date_added  release_year  duration  \
country
Canada, United States, Cayman Islands           1             1         1
India                                           1             1         1
Mexico                                          1             1         1
Mexico, United States                           1             1         1
South Korea                                     1             1         1
Spain                                           1             1         1
Turkey                                          1             1         1
United Kingdom                                  1             1         1
United Kingdom, Canada, United States           1             1         1
United States                                  13            13        13
NaN                                             9             9         9

                                       ratings_imdb  rating_rt
country
Canada, United States, Cayman Islands             1          1
India                                             0          1
Mexico                                            1          1
Mexico, United States                             1          1
South Korea                                       1          1
Spain                                             1          1
Turkey                                            1          1
United Kingdom                                    1          1
United Kingdom, Canada, United States             1          1
United States                                    13         13
NaN                                               8          9

In [12]:
df['ratings_imdb'] = df['ratings_imdb'].astype(float)
print(df.groupby('type')['ratings_imdb'].mean())

type
Movie      6.136364
TV Show    7.005556
Name: ratings_imdb, dtype: float64