## 1. import

In [2]:
import numpy as np
import pandas as pd

In [3]:
from pandas import Series, DataFrame

## 2. Series 생성

In [6]:
obj = Series([4, 7, -5,3])

In [7]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
obj2 = Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj.array

<PandasArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [10]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

## 3. Series 호출

In [40]:
obj2["d"]

4

In [12]:
obj2["d"] = 6

In [13]:
obj2[np.array(["c", "a", "d"])]

c    3
a   -5
d    6
dtype: int64

In [14]:
obj2[["c", "a", "d"]]

c    3
a   -5
d    6
dtype: int64

## 4. Series 연산

In [16]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [42]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [43]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [44]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [45]:
np.isin(obj2,[6,7])

array([ True,  True, False, False])

In [46]:
"b" in obj2

True

In [47]:
"e" in obj2

False

In [15]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

## 5. 딕셔너리와의 관계

In [17]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [18]:
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [19]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [20]:
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

## 6. 결측치 확인

In [21]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [22]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [23]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [24]:
np.isnan(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [25]:
np.isinf(obj4)

California    False
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [73]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [74]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [75]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [27]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

## 7. 산술 연산 시에 색인과 레이블 자동정렬

In [81]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [82]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [83]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

## 8. name 속성, 인덱싱, 데이터 추가, 교체

In [28]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [30]:
obj4.index

Index(['California', 'Ohio', 'Oregon', 'Texas'], dtype='object', name='state')

### 데이터 추가, 교체

In [31]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [32]:
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [33]:
obj["Stella"]=10
obj

Bob        4
Steve      7
Jeff      -5
Ryan       3
Stella    10
dtype: int64

In [34]:
del obj['Stella']

In [35]:
obj.pop("Steve")

7

In [36]:
obj

Bob     4
Jeff   -5
Ryan    3
dtype: int64